#startup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #ffbf00 50%, white 50%);
}

#h1h2 {
    position: absolute;
    bottom: 68%;
    left: 39%;
    color: white
}

#startup-search {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 30px;
}

#form-startup {
    margin: 0;
    width: 50%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
    border-style: solid;
    border-color: gray;
    border-bottom-color: black;
    border-width: 1px;
    border-bottom-width: 15px;
    background-color:#F8F8F8;
    margin: auto;
    position: relative;
}

#login-update {
    position: fixed;
    bottom: 20%;
    left: 60%;
    width: 300px;
}

#errorMessage {
    position: absolute;
    bottom: -60%;
    left: 35%;
}

@media (max-width: 1600px) {
    #h1h2 {
        left: 38%;
    }
  }

  @media (max-width: 1200px) {
    #h1h2 {
        left: 35%;
    }

    #errorMessage {
        bottom: -70%;
        left: 33%;
    }
  }

  @media (max-width: 1000px) {
    #h1h2 {
        left: 33%;
    }
    #errorMessage {
        left: 30%;
    }
  }

  @media (max-width: 800px) {
    #h1h2 {
        left: 31%;
    }
    #errorMessage {
        bottom: -75%;
        left: 27%;
    }
  }

  @media (max-width: 600px) {
    #h1h2 {
        left: 26%;
    }
    #errorMessage {
        left: 15%;
    }
  }